.event-block {
  border: solid 1px $color--gold;
  padding: 5px;
  position: relative;
  .event-block__info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color--darkblue;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    .event-block__info {
      opacity: 0.8;
    }
  }
}
