.welcome-section {
  min-height: 100vh;
  position: relative;
  h1 {
    font-family: $font--secondary;
    letter-spacing: 0.6rem;
    @media (min-width: 768px) {
      font-size: 3.5rem;
      letter-spacing: 1.5rem;
    }
  }
  button {
    background-color: transparent;
    border: none;
    img {
      width: 60px;
      height: auto;
    }
  }
  .welcome-section__img {
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .welcome-section__pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
  }
}

.quote-section {
  position: relative;
  .pattern-one {
    position: absolute;
    width: 150px;
    height: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 10%;
  }
  .pattern-two {
    position: absolute;
    width: 65%;
    top: -30px;
    right: -50px;
  }
}

.services-section {
  .pattern-one {
    position: absolute;
    left: 0;
    top: -30%;
    width: 150px;
    height: auto;
  }
  .pattern-two {
    position: absolute;
    right: 40px;
    top: 60%;
    width: 100px;
    height: auto;
  }
}

.latest-events {
  .latest-events__slider {
    .latest-events__slide {
      & > div {
        border: solid 1px $color--gold;
        padding: 5px;
        @media (min-width: 768px) {
          padding: 15px;
        }
      }
    }
  }
  .pattern-one {
    position: absolute;
    left: 20%;
    top: 25%;
    width: 30%;
    height: auto;
  }
  .pattern-two {
    position: absolute;
    bottom: 0;
    right: 40%;
    width: 140px;
    height: auto;
  }
}
