.venue-block {
  border: solid 1px rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  &:hover {
    border: solid 1px $color--gold;
  }
  p {
    border-bottom: solid 1px $color--gold;
  }
  .h4 {
    @media (max-width: 767px) {
      font-size: 1rem;
    }
  }
}
