body {
  background-color: $color--darkblue;
  font-family: $font--primary;
  color: $color--gold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  letter-spacing: 0.3rem;
  font-family: $font--secondary;
}

a {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.letter-spacing {
  letter-spacing: 0.3rem;
}

.text-gold {
  color: $color--gold;
}

.promnite-btn {
  position: relative;
  padding: 0.4rem 1.5rem;
  background-color: $color--darkblue;
  color: $color--gold;
  border: solid 1px $color--gold;
  display: inline-block;
  span {
    display: block;
    &:before {
      content: "";
      position: absolute;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      top: -1px;
      left: -1px;
      background-color: $color--darkblue;
      border: solid 1px $color--gold;
      transform: translate(5px, 5px);
      z-index: -1;
      transition: all 0.3s ease-in-out;
    }
  }
  &:hover {
    span:before {
      transform: translate(3px, 3px);
    }
  }
}

.icon-block {
  img {
    height: 50px;
    max-width: 100%;
  }
}

.grid-gallery {
  .grid-gallery__col {
    @media (min-width: 992px) {
      width: calc(50% - 10px);
    }
  }
  .grid-gallery__item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.grid-gallery__item--tall {
      &:after {
        content: "";
        display: block;
        padding-top: 113%;
      }
    }
    &.grid-gallery__item--square {
      &:after {
        content: "";
        display: block;
        padding-top: calc(56.5% - 10px);
      }
    }
  }
}
