.promnite-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1999;
  .promnite-header__logo {
    width: 60px;
    height: auto;
    max-width: 40%;
    @media (min-width: 768px) {
      width: 100px;
    }
  }
}

.promnite-navigation {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
  background-color: $color--darkblue;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  &.promnite-navigation--active {
    transform: translateX(0);
  }
  h2 {
    font-family: $font--secondary;
    letter-spacing: 0.8rem;
  }
  button {
    position: absolute;
    background-color: transparent;
    border: none;
    right: -25px;
    top: -50px;
    bottom: 0;
    margin: auto;
    @media (min-width: 768px) {
      right: -70px;
      top: 0;
    }
    img {
      height: 20px;
      width: auto;
    }
  }
}

.promnite-footer {
  .footer-logo {
    width: 80px;
    height: auto;
  }
  p {
    letter-spacing: 0.3rem;
  }
  .pattern-one {
    height: 100%;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  .pattern-two {
    width: 40%;
    height: auto;
    top: 0;
    right: 0;
    position: absolute;
  }
}

.quote-form {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color--darkblue;
  transform: translateX(-100%);
  z-index: 2000;
  transition: all 0.3s ease-in-out;
  h3 {
    @media (max-width: 767px) {
      font-size: 1.2rem;
    }
  }
  &.quote-form--active {
    transform: translateX(0);
  }
  .gfield_label {
    display: none;
  }
  .gform_fields {
    list-style: none;
    padding: 0;
    margin: 0;
    .gfield {
      margin-bottom: 15px;
      border-bottom: solid 1px $color--gold;
    }
    input,
    textarea {
      background-color: transparent;
      border: none;
      display: block;
      width: 100%;
      height: calc(1.5em + 0.75rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: $color--gold;
      background-clip: padding-box;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      @media (min-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }
  ::placeholder {
    color: $color--gold;
    font-family: $font--primary;
    font-weight: light;
  }
  .gfield_radio {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: calc(1.5em + 0.75rem + 2px);
    input {
      display: none;
      &:checked + label {
        &:before {
          background-color: $color--gold;
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      margin: 0;
      position: relative;
      @media (min-width: 768px) {
        font-size: 1.2rem;
      }
      &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: solid 1px $color--gold;
        margin-right: 10px;
      }
    }
  }
  .gform_footer {
    text-align: center;
    margin-top: 2rem;
  }
  .close-btn {
    position: absolute;
    background-color: transparent;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 0;
    @media (min-width: 768px) {
      right: -70px;
    }
    img {
      height: 20px;
      width: auto;
    }
  }
}
